body {
    background-color: #056a8b;
}

h1 {
    color: white;
    text-align: center;
}

h1.subtitles {
    color: rgb(248, 9, 248);
    text-align: center;
    font-size: 225%;
    font-weight: bold;
}

h1.credits {
    color: rgb(248, 9, 248);
    text-align: left;
    font-size: 225%;
    font-weight: bold;
    padding: 0px 0px 0px 5px;
}

p.credits {
    color: greenyellow;
    font-size: large;
    margin: 20px;
    padding: 0px 0px 0px 0px;
}

img.title1 {
    padding-top: 15px;
}

img.title2 {
    padding-top: 15px;
    padding-left: 15px;
}

img.logo {
    width: 20%;
}

img.homebutton {
    width:30px;
    padding-right: 5px;
}

img.point {
    width: 50px;
}

div.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.header {
    display: flex;
    justify-content: left;
    align-items: left;
}

div.cursor {
    padding: 0px 20px 0px 0px;
    width: 50px;
}

div.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.intro {
    width: 500px;
    text-align: center;
    color: greenyellow;
    font-size: large;
    margin: 20px;
    padding: 0px 0px 0px 0px;
}

div.garf {
    padding: 0px 00px 0px 30px;
}

div.linksbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

div.video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

div.fullvideo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

div.footer {
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
}
div.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 5px 0px;
}

iframe {
    padding: 0px 5px 0px 5px;
    border: none;
}

p.footer {
    text-align: center;
    color: greenyellow;
    margin: 20px;
    padding-bottom: 2px;
}

p.creditsfooter {
    text-align: center;
    color: greenyellow;
    padding-bottom: 2px;
}

strong.subtitle {
    text-align: center;
    color: greenyellow;
    font-size: large;
}

p.subtitle {
    text-align: center;
    color: greenyellow;
    font-size: large;
    margin: 20px;
    padding: 0px 0px 0px 0px;
}

table.links {
    color: white;
    text-wrap-mode: wrap;
    
}

a {
    color: rgb(244, 92, 143);
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

a.homebutton {
    color: rgb(244, 92, 143);
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
    padding-left: 5px;
}

a.footer {
    color: greenyellow;
    font-weight: small;
    font-size: medium;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    display: inline-block;
    font-size: 24px;
    outline: none;
    border: 0px;
    padding: 8px 36px;
    border-radius: 30px;
    background: linear-gradient(180deg, #37E7FF 0%, #0047FF 50%, #46DEFF 100%);
    color: #fff;
    position: relative;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .8), 0px 1px 0px rgba(255, 255, 255, .4);
}

button::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    height: calc(50% - 2px);
    width: calc(100% - 4px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .35));
}

button:hover {
    filter: brightness(0.9);
    transition-duration: 0.1s
}

button.green {
    background: linear-gradient(180deg, #ADFF2E 0%, #005823 50%, #ADFF2E 100%);
    border-radius: 30px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img.pamphlet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

div.pamphletpage {
}

img.pamphletpage {
    width: 0%;
}

div.slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.slides {
    padding: 0px 0px 20px 0px;
    width: 90%;
}

div.creditfooter {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 1200px) {
    div.title {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img.title1 {
        height: 64px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 95%;
    }
    img.title2 {
        height: 64px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 90%;
    }
    p.intro {
        text-align: center;
        color: greenyellow;
        font-size: large;
        margin: 20px;
        padding: 0px 0px 0px 0px;
    }  
    img.logo {
        width: 50%;
    }
    
    div.video {
        display: block;
        place-items: center;
        padding: 0px 0px 20px 0px;
    }

    div.fullvideo {
        display: block;
        place-items: center;
        padding: 0px 0px 20px 0px;
    }

    iframe {
        padding: 0px 5px 0px 5px;
        border: none;
        width: 100%;
    }

    div.pamphletpage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: none;
    }

    img.pamphlet {
        width: 0%;
    }

    img.pamphletpage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}